.login-signup-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-signup-container form {
    border: 1px solid rgba(0, 0, 0, 0.129);
    border-radius: 5px;
    margin: 2vmax 0 2vmax 0;
    font-size: 1.25vmax;
}

.login-signup-container form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vmax;
}

.login-signup-container form label {
    padding: 1vmax;
    color: rgba(0, 0, 0, 0.756);
}

.login-signup-container input {
    border-radius: 5px;
    text-align: start;
    padding: 1vmax;
}

.loggedin-btn-group {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

.loggedin-btn-group>button {
    margin: 1vmax 0 1vmax 0;
}

@media (max-width: 800px) {
    .login-signup-container {
        padding: 2vmax;
    }

    .login-signup-container form {
        font-size: 1.5vmax;
    }

    .loggedin-btn-group {
        width: 40%;
    }
}